/* styles for the elements */
* {
	margin: 0;
	padding: 0;
}
html {
	background-color: #f5f1ed;
	
}

body { /* type selector */
	
	font-size: 100%;
	font-family: Tahoma, Geneva, sans-serif;
	margin: 0 auto;
	background-color: #e2e7c4; 
	width: 950px;
	border: 3px solid #464646;
	
}

/* styles for the header */
header { /* type selector */
	border-bottom: 2px solid #464646;
	height: 150px;
	padding-top: .5em;
	padding-bottom: .5em;
	text-align: center;
}

header h1 {
	font-size: 250%;
	float: left;
	margin-left: 1.75em;
	color: #464646;
}

header em {
	font-style: normal;
	text-shadow: 1px 1px 2px red
}

#leftlogo {
	float: left;
}

#rightlogo {
	float: right;
}

/* styles in the main section */

aside img {
	border: 1px solid #464646;
}

main {
	float: left;
	width: 560px;
	padding: .5em;
}

main h2 {
	text-align: center;
	color: #464646;
}

article h3 {
	font-size:105%;
	color: #464646;
}

.class {
	font-style: normal;
}

#sidebarA {
	float: right;
	width: 360px;
	margin-top: 2em;
	margin-right: .5em;
	
	
}

#contact {
	font-size: 250%;
	text-align: center;
	border: 2px double #464646;
	border-radius: 10px 20px 0 20px;
	box-shadow: 2px 2px 3px 3px #a8b266;
	background-color: white;
	margin-top: 1em;
	padding-bottom: .25em;
}


.large { /* class selector */
	font-size: 200%;
}

a:link { /* psuedo selector */
	color: #a8b266;;
	font-style: normal;
}

a:hover, a:focus { /* psuedo selector */
	color: #464646;
	}
	
/* styles for the footer */
footer {
	clear: both;
}

#copyright { /* id selector */
	text-align: center;
}




